* {
  padding: 0;
}

header {
  background-color: lightgrey;
  width: 100%;
  padding: 6px 0;
  height: 85px;
}

header div.header {
  margin: 0 auto;
  width: 100%;
}

header div.header div.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 70px;
}

header div.header div.col #logo {
  display: inline-block;
  height: 68px;
}

header div.header div.col #logo a {
  display: inline-block;
  height: 100%;
  width: auto;
}

header div.header div.col #logo a img {
  height: 100%;
}

header div.header div.col ul.menu {
  border: 1px solid red;
}

header div.header div.col ul.menu a {
  border: 1px solid #4dd854;
}

header div.header div.col ul.menu a li {
  display: inline-block;
}

header div.header div.col div.member a {
  border: 1px solid blue;
  display: inline-block;
  margin: 13px 0 0 15px;
  text-decoration: none;
}

header div.header div.col div.member a span {
  border: 1px solid #e03939;
  padding: 5px;
  display: inline-block;
  line-height: 30px;
}

header div.header div.col div.member a span i {
  display: inline-block;
  font-size: 30px;
  vertical-align: top;
}

header div.header div.col div.member a span p {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}

header div.header div.col button.hamburger {
  outline: none;
  border: 1px solid black;
}

div.banner {
  border: 1px solid #db3c3c;
}

div.banner .row {
  margin: 0 auto;
  position: relative;
}

div.banner .row div.arrow-pre {
  border: 1px solid blue;
  position: absolute;
  top: 30%;
  padding: 5px;
  cursor: pointer;
  left: 2%;
}

div.banner .row div.arrow-pre .pre {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 22.5px 13px 0;
  border-color: transparent #ccc transparent transparent;
}

div.banner .row div.arrow-nex {
  right: 2%;
  border: 1px solid blue;
  position: absolute;
  top: 30%;
  padding: 5px;
  cursor: pointer;
}

div.banner .row div.arrow-nex .nex {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 0 13px 22.5px;
  border-color: transparent transparent transparent #ccc;
}

div.banner .row div.pic {
  border: 1px solid blue;
  display: inline-block;
  width: 100%;
  text-align: center;
}

div.banner .row div.pic .fade-enter,
div.banner .row div.pic .fade-leave-to {
  opacity: 0;
}

div.banner .row div.pic .fade-enter-active,
div.banner .row div.pic .fade-leave-active {
  opacity: 1;
}

div.banner .row div.pic a {
  display: inline-block;
  width: 100%;
}

div.banner .row div.pic a img {
  width: 100%;
}

footer {
  text-align: center;
}

@media (min-width: 1141px) {
  .row {
    width: 95%;
  }
  .row div.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: 70px;
  }
  .row div.col ul.menu {
    display: inline-block !important;
  }
  .row div.col ul.menu a {
    margin: 0 5px;
    line-height: 66px;
    display: inline-block;
  }
  .row div.col ul.menu a li {
    display: inline-block;
    padding: 0 15px;
  }
  .row div.col div.member {
    display: inline-block;
  }
  .row div.col button.hamburger {
    display: none;
  }
}

@media (max-width: 1140px) {
  .row {
    width: 100%;
  }
  .row div.col {
    display: block;
    height: 100vh;
    position: relative;
  }
  .row div.col #logo {
    display: inline-block;
    height: 68px;
    margin: 0 auto;
  }
  .row div.col #logo a {
    display: inline-block;
    height: 100%;
    width: auto;
  }
  .row div.col #logo a img {
    height: 100%;
  }
  .row div.col ul.menu {
    display: none;
    position: absolute;
    margin-left: -15px;
    top: 80px;
    width: calc(100vw - 15px);
    z-index: 1;
    padding: 0;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    background-color: lightgrey;
  }
  .row div.col ul.menu::-webkit-scrollbar {
    display: none;
  }
  .row div.col ul.menu a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0;
  }
  .row div.col ul.menu a li {
    padding: 15px;
    width: 100%;
    background-color: lightgrey;
  }
  .row div.col div.member a span p {
    display: none;
  }
  .row div.col button.hamburger {
    display: inline-block;
    padding: 0 5px;
  }
}
/*# sourceMappingURL=text.css.map */