* {
  padding: 0;
}

body {
  background-color: #383838;
}

h1 {
  font-size: 30px;
  color: white;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}

h5 {
  color: black;
  font-size: 20px;
  margin: 8px 0;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h3 {
  font-size: 24px;
  margin: 15px 0;
}

p {
  color: #686868;
  padding: 5px;
}

a {
  text-decoration: none;
}

header {
  background-color: lightgrey;
  width: 100%;
  padding: 6px 0;
  height: 85px;
}

header div.header {
  margin: 0 auto;
  width: 100%;
}

header div.header div.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 70px;
}

header div.header div.col #logo {
  display: inline-block;
  height: 68px;
}

header div.header div.col #logo a {
  display: inline-block;
  height: 100%;
  width: auto;
}

header div.header div.col #logo a img {
  height: 100%;
}

header div.header div.col ul.menu {
  border: 1px solid red;
}

header div.header div.col ul.menu a {
  border: 1px solid #4dd854;
}

header div.header div.col ul.menu a li {
  display: inline-block;
}

header div.header div.col div.member a {
  display: inline-block;
  margin: 13px 0 0 15px;
  text-decoration: none;
}

header div.header div.col div.member a span {
  border: 1px solid #e03939;
  padding: 5px;
  display: inline-block;
  line-height: 30px;
}

header div.header div.col div.member a span i {
  display: inline-block;
  font-size: 30px;
  vertical-align: top;
}

header div.header div.col div.member a span p {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}

header div.header div.col button.hamburger {
  outline: none;
  margin-top: 15px;
  height: 40px;
}

header div.header div.col .hamburger-box {
  width: 30px;
}

header div.header div.col .hamburger-box .hamburger-inner {
  width: 30px;
}

header div.header div.col .hamburger-box .hamburger-inner::before {
  width: 30px;
}

header div.header div.col .hamburger-box .hamburger-inner::after {
  width: 30px;
}

div.banner .slider {
  margin: 0 auto;
}

div.banner .slider button.slick-prev {
  left: 2%;
  z-index: 1;
}

div.banner .slider button.slick-next {
  right: 2%;
}

div.banner .slider .pic {
  padding: 0;
}

div.banner .slider .pic a {
  outline: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

div.banner .slider .pic a:hover div.description {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

div.banner .slider .pic a img {
  width: 100%;
}

div.banner .slider .pic a .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: .8rem;
  color: white;
  padding: 10px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.main {
  margin-top: 80px;
}

.main .announcement {
  margin-top: 50px;
}

.main .announcement .wrap {
  background-color: #ccc;
  border-radius: 20px;
  overflow: hidden;
}

.main .announcement .wrap .news {
  background-color: white;
  padding: 10px;
  margin: 30px;
  position: relative;
}

.main .announcement .wrap .news div.more {
  margin-top: 10px;
  text-align: right;
  display: block;
}

.main .announcement .wrap .news div.more a {
  color: lightseagreen;
  display: inline-block;
}

.main .gift {
  margin-top: 50px;
}

.main .gift .row .card {
  background-color: #ccc;
  margin: 0 2%;
  border-radius: 20px;
  display: inline-block;
}

.main .gift .row .card .imgWrap {
  margin-top: 20px;
  padding: 0;
}

.main .gift .row .card .imgWrap img {
  width: 100%;
}

.main .gift .row .card .wrap {
  text-align: center;
  margin-top: 20px;
}

.main .gift .row .card .wrap .circle {
  background-color: snow;
  display: inline-block;
  padding: 8px;
  border-radius: 50px;
}

.main .gift .row .card .wrap .circle i {
  font-size: 26px;
}

.main .gift .row .card .wrap p {
  margin: 10px 0;
}

.main .point {
  margin-top: 50px;
}

.main .point .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .point .row .card {
  background-color: #ccc;
  margin: 0 2%;
  border-radius: 20px;
  width: 40%;
  display: inline-block;
  padding: 0 15px;
}

.main .point .row .card .imgWrap {
  margin-top: 20px;
  padding: 0;
}

.main .point .row .card .imgWrap img {
  width: 100%;
}

.main .point .row .card .wrap {
  text-align: center;
  margin-top: 20px;
}

.main .point .row .card .wrap p {
  margin: 2px 0;
  padding: 2px;
  color: #686868;
  text-align: left;
}

.main .point .row .card .wrap p:last-child {
  margin-bottom: 10px;
}

.main .point .row .card .wrap p:nth-child(2) {
  margin-top: 10px;
}

#go_top {
  display: none;
  width: 40px;
  height: 40px;
  background: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: white;
  background-color: black;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

footer {
  margin-top: 50px;
  background-color: #ccc;
  padding: 10px 0;
  text-align: center;
}

footer ul {
  display: inline-block;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul a {
  padding: 0 !important;
  text-align: center;
  margin: 0 10px;
}

footer ul a li {
  display: inline-block;
  padding: 2px 5px;
  width: 100%;
  color: #686868;
}

footer ul a li:hover {
  color: black;
}

footer p {
  margin-top: 5px;
}

@media (min-width: 1141px) {
  .header {
    width: 95%;
  }
  .header div.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: 70px;
  }
  .header div.col ul.menu {
    display: inline-block !important;
  }
  .header div.col ul.menu a {
    margin: 0 5px;
    line-height: 66px;
    display: inline-block;
  }
  .header div.col ul.menu a li {
    display: inline-block;
    padding: 0 15px;
  }
  .header div.col div.member {
    display: inline-block;
  }
  .header div.col button.hamburger {
    display: none;
  }
}

@media (max-width: 1140px) {
  .header {
    width: 100%;
  }
  .header div.col {
    display: block;
    height: 100vh;
    position: relative;
  }
  .header div.col #logo {
    display: inline-block;
    height: 68px;
    margin: 0 auto;
  }
  .header div.col #logo a {
    display: inline-block;
    height: 100%;
    width: auto;
  }
  .header div.col #logo a img {
    height: 100%;
  }
  .header div.col ul.menu {
    display: none;
    position: absolute;
    margin-left: -15px;
    top: 80px;
    width: 100vw;
    z-index: 10;
    padding: 0;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    background-color: lightgrey;
  }
  .header div.col ul.menu::-webkit-scrollbar {
    display: none;
  }
  .header div.col ul.menu a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0;
  }
  .header div.col ul.menu a li {
    padding: 15px;
    width: 100%;
    background-color: lightgrey;
  }
  .header div.col div.member a span p {
    display: none;
  }
  .header div.col button.hamburger {
    display: inline-block;
    padding: 0 5px;
  }
}

@media (max-width: 576px) {
  div.banner .row .pic a .description {
    display: block;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  #go_top {
    display: block;
  }
  .main .gift .row .card {
    margin-top: 20px;
  }
  .main .gift .row .card:first-child {
    margin-top: 0;
  }
  .main .point .row .card {
    margin-bottom: 20px;
  }
  footer ul a {
    margin: 5px 0;
  }
  footer ul a li {
    padding: 8px 0;
  }
}
/*# sourceMappingURL=text.css.map */