* {
  padding: 0;
}

header {
  background-color: #644ca5;
  width: 100%;
  padding: 8px 0;
  height: 90px;
}

header .row {
  border: 1px solid blue;
  margin: 0 auto;
}

header .row div.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 70px;
}

header .row div.col #logo {
  display: inline-block;
  height: 68px;
}

header .row div.col #logo a {
  display: inline-block;
  height: 100%;
  width: auto;
}

header .row div.col #logo a img {
  height: 100%;
}

header .row div.col ul.menu {
  border: 1px solid red;
}

header .row div.col ul.menu a {
  display: inline-block;
  border: 1px solid black;
}

header .row div.col ul.menu a li {
  display: inline-block;
}

header .row div.col div.member a {
  border: 1px solid blue;
  display: inline-block;
  margin: 8px 0 0 15px;
  text-decoration: none;
}

header .row div.col div.member a span {
  border: 1px solid #e03939;
  padding: 8px;
  display: inline-block;
  line-height: 30px;
}

header .row div.col div.member a span i {
  display: inline-block;
  font-size: 30px;
}

header .row div.col div.member a span p {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}

header .row div.col button.hamburger {
  outline: none;
  border: 1px solid black;
}

div.banner {
  border: 1px solid black;
}

div.banner .owl-carousel {
  border: 1px solid black;
  position: relative;
}

div.banner .owl-carousel .owl-stage {
  display: inline-block;
}

div.banner .owl-carousel .owl-stage .owl-next,
div.banner .owl-carousel .owl-stage .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}

div.banner .owl-carousel .owl-stage .owl-prev {
  left: 10px;
}

div.banner .owl-carousel .owl-stage .owl-next {
  right: 10px;
}

div.banner .owl-carousel .owl-stage .item {
  background: #0c83e7;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}

div.banner .owl-carousel .owl-stage .item h1 {
  font-size: 18px;
}

footer {
  text-align: center;
}

@media (min-width: 1141px) {
  .row {
    width: 95%;
  }
  .row div.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: 70px;
  }
  .row div.col ul.menu {
    display: inline-block !important;
  }
  .row div.col ul.menu a {
    margin: 0 5px;
    line-height: 66px;
  }
  .row div.col ul.menu a li {
    display: inline-block;
    padding: 0 15px;
  }
  .row div.col div.member {
    display: inline-block;
  }
  .row div.col button.hamburger {
    display: none;
  }
}

@media (max-width: 1140px) {
  .row {
    width: 100%;
  }
  .row div.col {
    display: block;
    height: 100vh;
    position: relative;
  }
  .row div.col #logo {
    display: inline-block;
    height: 68px;
    margin: 0 auto;
  }
  .row div.col #logo a {
    display: inline-block;
    height: 100%;
    width: auto;
  }
  .row div.col #logo a img {
    height: 100%;
  }
  .row div.col ul.menu {
    display: none;
    height: calc(100vh-70px);
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow-y: scroll;
    background-color: #0c83e7;
  }
  .row div.col ul.menu a {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .row div.col ul.menu a li {
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: #0c83e7;
  }
  .row div.col div.member a span p {
    display: none;
  }
  .row div.col button.hamburger {
    display: inline-block;
    padding: 5px;
  }
}
/*# sourceMappingURL=text.css.map */