* {
  padding: 0;
}

body {
  background-color: rgb(72, 109, 106);
}

$grey:#ccc;



header {
  background-color: lightgrey;
  width: 100%;
  padding: 6px 0;
  height: 85px;

  div.header {
    // border: 1px solid blue;
    margin: 0 auto;
    width: 100%;


    div.col {
      display: flex;
      padding: 0;
      justify-content: space-between;
      max-height: 70px;

      #logo {
        // border: 1px solid red;
        display: inline-block;
        height: 68px;

        a {
          display: inline-block;
          // border: 1px solid black;
          height: 100%;
          width: auto;

          img {
            height: 100%;
            // width: auto;
          }
        }


      }

      ul.menu {
        border: 1px solid red;


        a {
          // display: inline-block;
          border: 1px solid rgb(77, 216, 84);


          li {
            // background-color: rgb(156, 172, 245);
            display: inline-block;



          }
        }

      }

      div.member {
        a {
          // border: 1px solid blue;
          display: inline-block;
          margin: 13px 0 0 15px;

          text-decoration: none;

          // &:first-child {
          //   margin-left: 0px;
          // }

          span {
            border: 1px solid rgb(224, 57, 57);
            padding: 5px;
            display: inline-block;
            line-height: 30px;
            // vertical-align: top;

            i {
              display: inline-block;
              font-size: 30px;
              // line-height: 30px;
              // border: 1px solid rgb(224, 57, 57);
              vertical-align: top;

            }

            p {
              display: inline-block;
              margin-left: 5px;
              // border: 1px solid black;
              vertical-align: top;

            }
          }
        }


      }

      button.hamburger {
        outline: none;
        // border: 1px solid black;
        // font-size: 16px;
      }

    }


  }


}

div.banner {
  // border: 1px solid rgb(219, 60, 60);


  .slider {

    margin: 0 auto;
    // border: 1px solid snow;

    button.slick-prev {
      left: 2%;
      z-index: 1;
      // border: 1px solid white;
      // padding: 5px;
      // display: inline-block;
    }

    button.slick-next {
      right: 2%;
    }

    .pic {
      padding: 0;


      a {
        outline: none;
        // border: 1px solid pink;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        position: relative;

        &:hover div.description {
          transform: translateY(0%);
        }

        img {
          width: 100%;
        }

        .description {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: hsla(0, 0%, 0%, .5);
          font-size: .8rem;
          color: white;
          padding: 10px;
          transform: translateY(100%);
          transition: transform .5s;


        }
      }


    }

  }



}

.main {
  // border: 1px solid black;
  margin-top: 80px;

  .row {
    .card {
      border: 1px solid snow;
      margin: 0 2%;
      border-radius: 10px;
      // height: 300px;
      display: inline-block;

      .imgWrap {
        margin-top: 20px;
        padding: 0;

        img {
          width: 100%;
        }
      }

      .wrap {
        text-align: center;
        margin-top: 20px;

        .circle {
          background-color: snow;
          display: inline-block;
          padding: 8px;
          border-radius: 50px;

          i {
            font-size: 26px;
          }


        }

        p {
          margin: 10px 0;
        }
      }

    }
  }
}

#go_top {
  display: none;
  width: 40px;
  height: 40px;
  background: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: white;
  background-color: black;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
  outline: none;
  cursor: pointer;
}

footer {
  // border: 1px solid black;
  margin-top: 50px;
  background-color: $grey;
  padding: 10px;
  text-align: center;
}

@media (min-width:1141px) {
  .header {
    width: 95%;

    div.col {
      display: flex;
      padding: 0;
      justify-content: space-between;
      max-height: 70px;

      ul.menu {
        display: inline-block !important;

        a {
          margin: 0 5px;
          line-height: 66px;
          display: inline-block;

          // padding: 15px;

          li {
            display: inline-block;
            padding: 0 15px;
          }
        }
      }

      div.member {
        display: inline-block;

      }

      button.hamburger {
        display: none;
      }
    }
  }

}

@media (max-width:1140px) {
  .header {
    width: 100%;

    div.col {
      // background-color: rgb(102, 120, 204);
      display: block;
      height: 100vh;
      position: relative;

      #logo {
        // border: 1px solid red;
        display: inline-block;
        height: 68px;
        margin: 0 auto;

        a {
          display: inline-block;
          // border: 1px solid black;
          height: 100%;
          width: auto;

          img {
            height: 100%;
            // width: auto;
          }
        }


      }

      ul.menu {
        display: none;

        position: absolute;
        margin-left: -15px;
        top: 80px;
        width: calc(100vw - 15px);
        z-index: 10;
        padding: 0;
        height: calc(100vh - 80px);
        overflow-y: scroll;
        background-color: lightgrey;

        &::-webkit-scrollbar {
          display: none;
        }


        a {
          width: 100%;
          display: block;
          text-align: center;
          padding: 0;
          // margin: -15px;

          li {
            // display: block;
            padding: 15px;
            width: 100%;
            background-color: lightgrey;




          }
        }
      }

      div.member {
        a {
          span {
            p {
              display: none;
            }
          }
        }



      }

      button.hamburger {
        display: inline-block;
        padding: 0 5px;

      }
    }
  }

}

@media(max-width:576px) {
  #go_top {
    display: block;
  }

  .main {
    .row {
      .card {
        &:first-child {
          margin-top: 0;
        }

        margin-top: 20px;
      }
    }
  }
}