<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./bootstrap/bootstrap-grid.min.css">
  <link href="./bootstrap/hamburgers.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="./css/text.css" charset="utf-8">
</head>

<body>
  <!-- 導覽列 -->
  <header>
    <div class="container-fluid">
      <div class="row header" id="app">
        <div class="col">
          <!-- 漢堡按鈕 -->
          <button class="hamburger hamburger--squeeze" type="button" @click="active">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
          <div id="logo">
            <a href="javascript:;">
              <img src="./img/logo.png" alt="logo">
            </a>

          </div>
          <ul class="menu">
            <a v-for="item in menu" :href="item.link">
              <li>{{item.title}}</li>
            </a>
          </ul>
          <div class="member">
            <a href="javascript:;">
              <span>
                <i class="fas fa-user-circle"></i>
                <p>登入 / 註冊</p>

              </span>
            </a>
          </div>

        </div>
      </div>

    </div>

  </header>
  <!-- 輪播 -->
  <div class="banner" id="banner">
    <div class="row slider">
      <div class="pic col-md-12" v-for="(item,i) in banner" :key="item.title">
        <a :href="item.link">
          <img :src="item.src" alt="">
          <div class="description">
            <span class="number">{{i+1}}</span>
            <p>{{item.title}}</p>
            <p>{{item.notes}}</p>
          </div>

        </a>
      </div>

    </div>

  </div>
  <!-- 內文 -->
  <div class="main container" id="main">
    <div class="announcement">
      <h1>最新消息</h1>
      <div class="wrap">
        <div class="news row" v-for="item in news">
          <img :src="item.src" alt="" class="col-sm-5">
          <div class="col-sm-7">

            <h3>{{item.title}}</h3>
            <p>{{item.content}}</p>
            <p>
              <i class="fas fa-check"></i>
              {{item.contentMore}}
            </p>
            <div class="more align-self-end">

              <a :href="item.link">
                <i class="fas fa-chevron-right"></i>
                了解更多</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="gift">
      <h1>好禮三重送</h1>
      <div class="row">
        <card v-for="item in card" :item="item"></card>
      </div>
    </div>
    <div class="point">
      <h1>熱門兌換</h1>
      <div class="row">
        <point v-for="item in point" :item="item"></point>
      </div>
    </div>

  </div>
  <!-- 頁面滑到最上方 -->
  <button type="button" id="go_top" @click="toTop">↑</button>
  <!-- footer -->
  <footer>
    <div id="footer" class="container">

      <ul class="row">
        <a v-for="item in footer" :href="item.link" class="col-md col-sm-5">
          <li>{{item.title}}</li>
        </a>

      </ul>

      <p class="copyRight">{{company}} {{year}} {{companyEn}} {{copyright}}</p>
    </div>

  </footer>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
  <script src="https://kit.fontawesome.com/d18b20bddd.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
    integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> -->
  <script src="./js/data.js"></script>
  <script src="./js/vue.js"></script>
</body>

</html>